<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/8feb4bfacc.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <title>Gabble | Login</title>
</head>
<body>
  <header>
    <div class="wrapper">
      <div id="logo">
        <a href="/">Gabble</a>
      </div>
      <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/gab/new"><button class="gab"><i class="fa fa-bullhorn" aria-hidden="true"></i></button></button></a>
      </nav>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <div class="inner-wrapper">
        <h1 class="welcome"><span>G</span> Sign in to Gabble</h1>
        {{#if errors}}
          <ul class="errors">
            <li><i class="fa fa-times-circle" aria-hidden="true"></i>
              {{errors.0.msg}}
            </li>
          </ul>
        {{/if}}
        <form method="POST" action="/login">
          <input type="text" name="username" placeholder="Username*">
          <input type="password" name="password" placeholder="Password*">
          <button type="submit">Login</button>
        </form>
        <p class="form">Not Registerd? <a href="/register">Sign Up</a></p>
      </div>
    </div>
  </main>
</body>
</html>